<div class="container mx-auto px-4 py-8 bg-gray-200">
  <section class="flex-row bg-white p-8">
    <div class="col-span-8 col-start-1">
      <div>
        <h2 class="text-2xl font-bold mb-4">How to Make a Return</h2>
        <div class="list-decimal ml-4">
          <p>Click on "Make a Return," enter your email address and order number.</p>
          <p>You'll receive a digital barcode representing your return label. No need to print anything!</p>
          <p>Place the products in the original box along with the packing slip (the form received with your order). If you wish to return items from different orders, make sure to include all packing slips.</p>
          <p>Take the package to a drop-off point. Scan the digital barcode at the drop-off point.</p>
          <p>Once we've processed your return, we'll initiate the refund process. Refunds will be made using the original payment method and may take up to 14 days.</p>
          <p>For exchanges: As soon as the exchange is received and processed at the warehouse, we'll send you your new products.</p>
        </div>
        <p class="mt-4">Please note: a product can only be exchanged once. If the new item still doesn't meet your needs, please initiate the return process and order a new item.</p>
      </div>
    </div>
  </section>
</div>
<div data-anchor-id="2" class="container mx-auto py-8">
  <section class="bg-white p-8">
    <div class="flex-row items-start">
      <div class="col-span-12 lg:col-start-2 lg:col-span-22">
        <div class="accordion">
          <div class="accordion__content">
            <div class="faq-item">
              <p class="font-bold">How many days do I have to return an order?</p>
              <p>You can return your online order for free within 30 days of receipt. Some exclusive items have a limited return window and can only be returned within 14 days of order receipt. You'll find out at the time of purchase if the return period is shorter.</p>
              <p>Please note: personalized products are made specifically for you and cannot be returned unless they have manufacturing defects.</p>
            </div>
            <p>&nbsp;</p>
            <div class="faq-item">
              <p>How much does it cost to make a return?</p>
              <p>Good news. Returning products is free! Make sure to use the same courier that delivered your package for the return.</p>
            </div>
            <p>&nbsp;</p>
            <div class="faq-item">
              <p>How long does it take for a return?</p>
              <p>It usually takes 8 working days for the package to reach our warehouse and be processed. You can track your return to the national courier hub using the link above. From the national courier hub, it is transported to our overseas warehouse, where we process your return.</p>
              <p>Refund processing times:
                <br>1. Package preparation: up to 8 working days
                <br>2. Bank refund times:
                <br>- Credit/Debit Card: up to 14 working days
                <br>- PayPal: up to 3 working days
              </p>
              <p>&nbsp;</p>
              <p>Lost your return label, how can I create a new one? A new return label will be available in your online account and will be automatically sent to your email once the online return or exchange request is completed.</p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__content">
            <div class="faq-item">
              <p>When will I receive my refund?</p>
              <p>Once your return is processed, we'll immediately initiate the refund process. Refunds will be made using the original payment method and may take up to 14 days. E-Gift Card refunds are processed immediately via email.</p>
              <p>Refund processing times:
                <br>1. Package preparation: up to 8 working days
                <br>2. Bank refund times:
                <br>- Credit/Debit Card: up to 14 working days
                <br>- PayPal: up to 3 working days
              </p>
              <p>&nbsp;</p>
              <p>Used a promotional voucher for a product that I returned. Can I request a new promotional voucher? If you used a promotional voucher to get a percentage discount (e.g., 10% off), you can contact us to get a replacement if you decide to return the order (in whole or in part). Promotional vouchers with a fixed monetary value (e.g., €10) will be refunded automatically. You will receive a new voucher by email corresponding to the amount applied to that part of the order.</p>
              <p>&nbsp;</p>
              <p>Will shipping costs be refunded?</p>
              <p>Shipping costs will be fully refunded, except in the following cases:
                <br>1. If you are returning only part of your order.
                <br>2. If you used a different courier for the return.
                <br>3. You chose express shipping. In this case, we will refund the amount corresponding to standard shipping, but only if you are returning the entire order.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion">
          <div class="accordion__content">
            <div class="faq-item">
              <p>Can I make an exchange?</p>
              <p>Ordered an item online that you like, but the size is incorrect? Instead of making a return, you can request a free merchandise exchange within 30 days.</p>
              <p>How can I make a merchandise exchange?</p>
              <p>Click on "Free Size Exchange" and indicate which items you want to replace, selecting the correct size. Place the items in a package and take it to a pick-up point within 5 days to avoid the merchandise exchange process being canceled. As soon as the merchandise exchange arrives and is processed at the warehouse, we'll send you your new products. You'll receive a confirmation email for the new shipment containing a tracking link when the package leaves our warehouse. We'll use our standard shipping service and send it to the original delivery address.</p>
              <p>Want to make a return and merchandise exchange for items from the same order? No problem. You can put them all in the same package. We'll process the refund using the original payment method once we receive the package.</p>
              <p>In which cases is a merchandise exchange not possible?
                - Personalized items, made specifically for you, cannot be replaced.
                - Hype products, such as those from YEEZY and Balenciaga collections, cannot be replaced.
              </p>
            </div>
          </div>
        </div>
        <div class="cta my-5">
          <a href="/help" class="bg-gray-300 text-gray-700 py-2 px-4 rounded-full hover:bg-gray-400 hover:text-gray-800">Need more information? Visit the Help section</a>
        </div>
        <div class="cta my-5">
          <a href="/" class="bg-gray-300 text-gray-700 py-2 px-4 rounded-full hover:bg-gray-400 hover:text-gray-800">Return</a>
        </div>
      </div>
    </div>
  </section>
</div>
